body {
	font-family: "Roboto", sans-serif;
	background-color: #050505;
	color: #fff;
}

.folder {
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	background-color: #1a1a1a;
}

.subfolder {
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	background-color: #2a2a2a;
}

.subitem {
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	background-color: #3a3a3a;
}

.title-container {
	display: flex;
	justify-content: space-between;
	border-radius: 5px;
}

.title-container:hover {
	background-color: #4a4a4a;
}
